/* 
Bai 1
h1{
    color: rgb(115, 0, 255);
    font-size: 30px;
}*/

/* Bai 2 */
/* CSS selectors */
/*h1{
    color: rgb(115, 0, 255);
    font-size: 30px;
}*/
/*using ID - Identified ( # )*/
/*#first-heading {
    color: rgb(99, 31, 215);
    font-size: 30px;
}*/
/*using Class - ( . )*/
/*.second-heading {
    color: rgb(224, 43, 19);
    font-size: 30px;
}*/

/* Bai 3 */