/* Header */
.header {
    /* Không cần set chiều ngang vì tất cả đều có display block và kế thừa nhau */
    height: 120px;
    background-image: linear-gradient(#ee4d2d,#ff7337);
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
}

.navbar__list {
    list-style-type: none;
    /* Mặc định thẻ <ul> có giá trị padding-left: 40px;
    -> phải bỏ */
    padding-left: 0;
}

.navbar__item {
    margin: 0 8px;
    position: relative;

    /* Đặt min-height cho thẳng hàng chữ và icons */
    min-height: 26px;
}

.navbar__item,
.navbar__item-link {
    display: inline-block;
    /* 15px */
    font-size: 1.5rem;
    color: var(--white-color);
    text-decoration: none;
}

/* Để căn giữa chữ và icon bên trên thẻ navbar */
.navbar__item,
.navbar__item-link,
.navbar__icon-link {
    display: inline-flex;
    align-items: center;
}

.navbar__item:hover,
.navbar__item-link:hover,
.navbar__icon-link:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
}

/* Chữ đậm */
.navbar__item--strong {
    font-weight: 600;
}

/* Thêm 1 gạch phân chia */
.navbar__item--separate::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    height: 16px;
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
}

.navbar__icon-link {
    color: var(--white-color);
    text-decoration: none;
}

.navbar__icon {
    /* 18px */
    font-size: 1.7rem;
    margin: 0 4px;
}

.navbar__item-title--no-pointer {
    cursor: text;
    color: rgba(255, 255, 255, 1);
}

/* QR Code */
.navbar__qr {
    width: 130px;
    background-color: var(--white-color);
    position: absolute;
    top: 150%;
    left: 0;
    width: 182px;
    height: 220px;
    padding: 0 5px;
    box-shadow: 1px 1px 1px #ccc;
    display: none;
    animation: fadeIn ease-in 0.3s;
}

/* Hover qppear QR Code */
.navbar__item--qr-appear:hover .navbar__qr {
    display: block;
}

/* Viết Pseudo element khi cầu nối giữa navbar item và QR Code quá xa */
.navbar__qr::before {
    position: absolute;
    display: block;
    left: 0;
    top: -20%;
    width: 150%;
    height: 50%;
    content: "";
    /* background-color: #eb1111; */
}

.navbar__qr-img {
    width: 100%;
}

/* Apps */
.navbar__qr-apps {
    display: flex;
    justify-content: space-between;
    margin-top: 6px;
}

.navbar__qr-link:nth-child(1) {
    margin-left: 11px;
}

.navbar__qr-link:nth-child(2) {
    margin-right: 11px;
}

.navbar__qr-app-download {
    height: 16px;
}
