/* Header */
.header {
    /* Không cần set chiều ngang vì tất cả đều có display block và kế thừa nhau */
    height: var(--header-height);
    background-image: linear-gradient(#ee4d2d,#ff7337);
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
}

.navbar__list {
    list-style-type: none;
    /* Mặc định thẻ <ul> có giá trị padding-left: 40px;
    -> phải bỏ */
    padding-left: 0;
    margin: 4px 0 0 0;
}

.navbar__item {
    margin: 0 8px;
    position: relative;

    /* Đặt min-height cho thẳng hàng chữ và icons */
    min-height: 26px;
}

.navbar__item--notify-appear:hover .navbar__notify {
    display: block;
}

.navbar__item,
.navbar__item-link {
    display: inline-block;
    /* 15px */
    font-size: 1.5rem;
    color: var(--white-color);
    text-decoration: none;
}

/* Để căn giữa chữ và icon bên trên thẻ navbar */
.navbar__item,
.navbar__item-link,
.navbar__icon-link {
    display: inline-flex;
    align-items: center;
}

.navbar__item:hover,
.navbar__item-link:hover,
.navbar__icon-link:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
}

/* Chữ đậm */
.navbar__item--strong {
    font-weight: 600;
}

/* Thêm 1 gạch phân chia */
.navbar__item--separate::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    height: 16px;
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
}

.navbar__icon-link {
    color: var(--white-color);
    text-decoration: none;
}

.navbar__icon {
    /* 18px */
    font-size: 1.7rem;
    margin: 0 4px;
}

.navbar__item-title--no-pointer {
    cursor: text;
    color: rgba(255, 255, 255, 1);
}

/* QR Code */
.navbar__qr {
    width: 130px;
    background-color: var(--white-color);
    position: absolute;
    top: 150%;
    left: 0;
    width: 182px;
    height: 220px;
    padding: 0 5px;
    box-shadow: 1px 1px 1px #ccc;
    display: none;
    animation: fadeIn ease-in 0.2s;
}

/* Hover qppear QR Code */
.navbar__item--qr-appear:hover .navbar__qr {
    display: block;
}

/* PSEUDO */
/* Viết Pseudo element khi cầu nối giữa navbar item và QR Code quá xa */
.navbar__qr::before,
.navbar__notify::before,
.header__search-option-item::before,
.header__cart-list::before {
    position: absolute;
    display: block;
    left: 0;
    top: -15%;
    width: 100%;
    height: 20%;
    content: "";
    cursor: pointer;
    /* background-color: #eb1111; */
}

.navbar__qr-img {
    width: 100%;
}

/* Apps */
.navbar__qr-apps {
    display: flex;
    justify-content: space-between;
    margin-top: 6px;
}

.navbar__qr-link:nth-child(1) {
    margin-left: 11px;
}

.navbar__qr-link:nth-child(2) {
    margin-right: 11px;
}

.navbar__qr-app-download {
    height: 16px;
}

/* Notify */
/* Header - Notify */
/* --notify-appear */
.navbar__notify {
    position: absolute;
    top: 120%;
    right: 0;
    width: 400px;
    border: 1px solid #D3D3D3;
    background-color: var(--white-color);
    cursor: default;
    transform-origin: calc(100% - 20px) top;
    animation: growth linear 0.2s;
    will-change: opacity, transform;
    display: none;
}

.navbar__notify-header {
    height: 40px;
    background-color: var(--white-color);
}

/* Làm nút hình tam giác cho Notify */
.navbar__notify-header::before {
    content: "";
    border-width: 20px 25px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 20px;
    top: -30px;
    cursor: pointer;
}

.navbar__notify-header p {
    color: #757272;
    margin: 0 0 0 12px;
    /* cho line height của dòng bằng với chiều cao thằng chứa nó */
    /* -> nó sẽ căn giữa */
    line-height: 40px;
    user-select: none;
}

/* Notify - Body info  */
.navbar__notify-list {
    padding-left: 0;
}

.navbar__notify-item {
    display: flex;
}

.navbar__notify-item:hover {
    background-color: #e3dede4b;
}

.navbar__notify-item--not-viewed {
    background-color: rgb(238, 77, 45, 0.1);
}

.navbar__notify-link {
    display: flex;
    width: 100%;
    padding: 12px;
    text-decoration: none;
}

.navbar__notify-img {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.navbar__notify-info {
    margin-left: 12px;
}

.navbar__notify-name {
    display: block;
    font-size: 1.6rem;
    font-weight: 550;
    color: var(--black-color);
}

.navbar__notify-decs {
    display: block;
    font-size: 1.2rem;
    line-height: 1.6rem;
    margin-top: 6px;
    color: #686666;
}

.navbar__notify-footer {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 40px;
}

.navbar__notify-footer:hover {
    background-color: #e3dede4b;
}

.navbar__notify-footer-btn {
    color: var(--black-color);
    text-decoration: none;
    line-height: 40px;
    width: 100%;
}

/* Authen modal */
.auth-form {
    width: 500px;
    border-radius: 5px;
    background-color: var(--white-color);
    overflow: hidden;
}

.auth-form__container {
    padding: 0 32px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 12px;
}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 500;
}

.auth-form__switch-btn {
    font-size: 1.5rem;
    color: var(--primary-color);
}

.auth-form__switch-btn:hover {
    opacity: 0.7;
    cursor: pointer;
}

.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.3rem;
    border-radius: 2px;
    border: 1px solid var(--border-color);
    outline: none;
}

/* Focus -> outline sẽ đổi màu */
.auth-form__input:focus {
    border-color: #888;
}

.auth-form__extra {
    margin-top: 24px;
}

.auth-form__policy-text {
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
}

.auth-form__text-link {
    text-decoration: none;
    color: var(--primary-color);
}

.auth-form__controls {
    margin-top: 70px;
    display: flex;
    justify-content: flex-end;
}

.auth-form__control-back {
    margin-right: 8px;
}

.auth-form__socials {
    background-color: #f5f5f5;
    padding: 16px 36px;
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

.auth-form__socials-icon {
    font-size: 2rem;
}

.auth-form__social-title {
    margin: 0 33px;
}

.auth-form__socials--facebook {
    color: var(--white-color);
    background-color: #3a5a98;
}

.auth-form__socials--facebook
.auth-form__socials-icon {
    color: var(--white-color);
}

.auth-form__socials--google {
    color: rgba(0, 0, 0, 0.7);
    background-color: var(--white-color);
}

.auth-form__socials--google
.auth-form__socials-icon {
    color: #f6912d;
}

/* Login form */
.auth-form__help {
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link {
    text-decoration: none;
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.7);
}

.auth-form__help-link:hover {
    opacity: 0.6;
}

.auth-form__help-separate {
    display: block;
    height: 16px;
    border-left: 1px solid var(--border-color);
    margin: 0 14px;
}

.auth-form__help-forgot {
    color: var(--primary-color);
}

/* Header with search */
.header-with-search {
    height: var(--header-with-search-height);
    display: flex;
    /* Trục cross axis */
    align-items: center;
    margin: 0 6px;
}

.header__logo {
    width: 200px;
}

.header__logo-img {
    width: 150px;
}

.header__search {
    /* flex = 1 để chiếm hết chiều ngang */
    flex: 1;
    height: 40px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
}

/* Header cart */
.header__cart {
    margin: 0px 77px;
    text-align: center;
    margin-top: 8px;
}

.header__cart-wrap {
    position: relative;
    cursor: pointer;
}

.header__cart-wrap:hover .header__cart-list {
    display: block;
}

.header__cart-icon { 
    font-size: 2.4rem;
    color: var(--white-color);
}

.header__cart-notice {
    position: absolute;
    top: -45%;
    left: 60%;
    padding: 1px 8px;
    font-size: 1.6rem;
    border-radius: 16px;
    border: 2px solid #f12009;
    color: var(--primary-color);
    background-color: var(--white-color);
    cursor: pointer;
}

.header__cart-list {
    position: absolute;
    top: calc(100% + 25%);
    right: -50%;
    width: 400px;
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 0 8px #ccc;
    cursor: default;
    /* animation */
    transform-origin: calc(100% - 20px) top;
    animation: growth linear 0.2s;
    /* comment display: none để hiển thị - visibled */
    display: none;
}

/* 
Làm mũi tên tam giác cho Cart list
sử dụng after 
*/
.header__cart-list::after {
    content: "";
    position: absolute;
    right: 1px;
    top: -30px;
    border-width: 20px 25px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    cursor: pointer;
}

/* No cart */
.header__cart-list--no-cart {
    padding: 24px 0;
}

.header__cart-list--no-cart .header__cart-no-cart-img,
.header__cart-list--no-cart .header__cart-no-cart-msg {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.header__cart-no-cart-img {
    width: 54%;
    display: none;
}

.header__cart-no-cart-msg {
    font-size: 1.4rem;
    margin-top: 14px;
    color: var(--text-color);
    display: none;
}

/* Cart list items */
.header__cart-heading {
    text-align: left;
    margin: 14px 0 8px 12px;
    font-size: 1.4rem;
    color: #999;
    user-select: none;
}

.header__cart-list-items {
    padding-left: 0;
    list-style-type: none;
}

.header__cart-item {
    /* Để cho ảnh và info cùng hàng ngang */
    display: flex;
    align-items: center;
}

.header__cart-item:hover {
    background-color: #f8f8f8;
}

.header__cart-item-img {
    width: 54px;
    height: 54px;
    margin: 12px;
    border: 1px solid var(--border-color);
}

.header__cart-item-info {
    width: 100%;
    margin-right: 12px;
}

.header__cart-item-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__cart-item-title {
    font-size: 1.4rem;
    color: var(--black-color);
}

.header__cart-item-price {
    font-size: 1.2rem;
    color: var(--primary-color);
}

.header__cart-item-multiple {
    font-size: 0.9rem;
    color: #999;
    margin: 0 4px;
}

.header__cart-item-quantity {
    font-size: 1rem;
    color: #999;
}

.header__cart-item-body {
    display: flex;
    justify-content: space-between;
    margin-top: 18px;
}

.header__cart-item-description {
    color: #999;
    font-size: 1.2rem;
}

.header__cart-item-remove {
    font-size: 1rem;
    color: var(--black-color);
}

.header__cart-item-remove:hover {
    cursor: pointer;
    color: var(--primary-color);
}

.header__cart-view-cart {
    float: right;
    align-items: center;
    margin: 0 12px 12px;
}

/* Header search */
.header__search-input-wrap {
    /* Để có thể chiếm hết kích thước còn lại 
    main axis
    */
    flex: 1;
    position: relative;
}

.header__search-input {
    /* Để ăn width theo input-wrap */
    width: 100%;
    border: none;
    outline: none;
    font-size: 1.6rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 2px;
    caret-color: var(--primary-color);
}

/* CSS Selector */
/* FOCUS */
.header__search-input:focus ~ .header__search-history {
    display: block;
}

.header__search-select {
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0 0 0 16px;
}

.header__search-select-title {
    font-size: 1.4rem;
    color: var(--text-color);
    position: relative;
    cursor: pointer;
}

.header__search-select-title:hover 
.header__search-option-item {
    display: block;
}

.header__search-select-icon {
    font-size: 1.4rem;
    color: var(--text-color);
    margin: 0 16px 0 8px;
    position: relative;
    top: 2px;
}

.header__search-btn {
    color: var(--white-color);
    background-color: var(--primary-color);
    margin-top: 0.05rem;
    margin-right: 3px;
    border-radius: 2px;
    border: none;
    width: 60px;
    height: 34px;
}

.header__search-btn:hover {
    cursor: pointer;
    opacity: 0.8;
}

.header__search-btn-icon {
    font-size: 1.6rem;
}

.header__search-option {
    position: absolute;
    right: 0;
    top: 100%;
    width: 170%;
    list-style-type: none;
}

.header__search-option-item {
    background-color: var(--white-color);
    padding: 8px 8px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    min-height: 30px;
    line-height: 30px;
    display: none;
    animation: fadeIn linear 0.2s;
}

.header__search-option-item:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__search-option-item:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__search-option-item:hover {
    cursor: pointer;
    background-color: #fdebe4;
}

.header__search-option-item-title {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 20%;
}

.header__search-option-item-icon {
    font-size: 1.2rem;
    color: var(--primary-color);
    margin-left: 8px;
    display: none;
}

.header__search-option-item--active {
    display: inline-block;
}

/* Search history */
.header__search-history {
    position: absolute;
    top: calc(100% + 80%);
    left: 0;
    width: calc(100% - 6%);
    background-color: var(--white-color);
    box-shadow: 0 0 5px #ccc;
    border-radius: 2px;
    /* Visibled bằng cách bỏ comment */
    display: none;
}

.header__search-history-heading {
    margin: 8px 12px;
    font-size: 1.4rem;
    color: #ccc;
    user-select: none;
}

.header__search-history-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.header__search-history-item {
    height: 38px;
    padding: 0 12px;
}

.header__search-history-item:hover {
    /* fafafa */
    background-color: #fdebe4;
}

.header__search-history-item-link {
    text-decoration: none;
    display: block;
    line-height: 38px;
    font-size: 1.2rem;
    color: var(--text-color);
}
