/* Reset CSS */
/* Tất cả các thẻ */
* {
    /* Emmet */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Chỉ kế thừa những thẻ có chữ */
html {
    /* Set font chữ */
    /* san serif chủng ko chân */
    font-family: Arial, Helvetica, sans-serif;
}

/* 
+ Nguyển tắc 
- Từ ngoài vào trong
- Từ trên xuống dưới
- Từ tổng quan đến chi tiết
*/

/* 
+ Trả lời câu hỏi?
- Vị trí
- Kích thước (width, height)
- Màu sắc
- Kiểu dáng (kiểu chữ, hình tròn, vuông, ...)
*/

.clear {
    clear: both;
}

.text-white {
    color: #fff !important;
}

#main {

}

/* 
- Soi của trang web mình muốn clone lại
- Chiều rộng bằng kích thước trình duyệt của mình
 */
#header {
    height: 46px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: black;
    z-index: 1;
}

#nav {
    display: inline-block;
}

#nav, .subnav {
    list-style-type: none;
}

#nav > li {
    /* nagng 1 hàng - tính chất khối */
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav > li > a {
    color: #fff;
    text-transform: uppercase;
}

#nav li a {
    text-decoration: none;
    /* Căn giữa - đã học */
    /* Đặt chiều cao */
    line-height: 46px;
    /* Inspect - lấy khoảng cách */
    padding: 0 24px;
    /* tăng kích thước thẻ <a>
    ăn theo line-height */
    display: block;
}

#nav li:hover .subnav {
    display: block;
}

/* hover để tránh xảy ra lỗi */
/* Đặt vào li để khi vào sub ul của more thì màu hover vẫn sẽ giữ chứ ko bị mất đi di chuột ra sub ul */
#nav > li:hover > a,
#nav .subnav li:hover a {
    color: #000;
    background: #f0b3b3;
}

/* nav subnav - con của nav */
#nav .subnav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 160px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav a {
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}

#nav .nav-arrow-down {
    font-size: 12px;
}

#header .search-btn {
    float: right;
    padding: 0 21px;
}

#header .search-btn:hover {
    cursor: pointer;
    background-color: #f44336;
}

#header .search-icon {
    color: #fff;
    font-size: 22px;
    line-height: 46px;
}

#slider {
    position: relative;
    margin-top: 46px;

    /*
    - Giá trị 50%
    - là 50% chiều ngang(width) của chính nó 
    */
    padding-top: 50%;

    /* /assets/img/slider/slider1.jpg */
    background: url('https://www.w3schools.com/w3images/chicago.jpg') top center / cover no-repeat;
}

#slider .text-content {
    position: absolute;
    color: #fff;
    bottom: 48px;

    /* cách 1 */
    /* left: 50%;
    transform: translateX(-50%); */

    /* cách 2 */
    width: 100%;
    text-align: center;
}

#slider .text-heading {
    font-weight: 500;
    font-size: 24px;
}

#slider .text-description {
    font-size: 15px;
    margin-top: 25px;
}


#content {

}

/* About section */
#content .content-section {
    width: 800px;
    padding: 64px 0;
    margin-left: auto;
    margin-right: auto;
}

#content .section-heading {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    /* đẩy chữ xa nhau */
    letter-spacing: 4px;
}

#content .section-sub-heading {
    font-size: 15px;
    margin-top: 25px;
    text-align: center;
    font-style: italic;
    /* làm mờ - trong suốt */
    opacity: 0.6;
}

#content .about-text {
    font-size: 15px;
    margin-top: 25px;
    text-align: justify;

    /* chỉnh độ cao của dòng */
    line-height: 1.4;
}

#content .member-list {
    margin-top: 48px;
}

#content .member-item {
    float: left;
    /* width: 33.333333%; */
    width: calc(100% / 3);
    text-align: center;
}

#content .member-name {
    font-size: 15px;
}

#content .member-img {
    width: 155px;
    margin-top: 15px;
    border-radius: 5px;
}

/* Tour section */
#content .tour-section {
    background-color: #000;
}

#content .tour-section .tickets-list {
    margin-top: 45px;
    background-color: #fff;
    list-style-type: none;
}

#content .tour-section .tickets-list li {
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
    color: #757575;
}

.tickets-list .sold-out {
    background-color: #ec1a0b;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;
}

.tickets-list .quantity {
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -3px;
}

/* Places */
.place-list {
    margin: 32px -8px 48px;
    /* padding-bottom: 48px; */
} 

.place-item {
    float: left;
    width: calc(100% / 3);
    padding: 0 8px;
} 

.place-img {
    /* cho 100% thì kích thước img = ảnh chứa nó, ko bị vượt quá */
    width: 100%;
    display: block;
} 

.place-img:hover {
    opacity: 0.6;
}

.place-body {
    padding: 16px;
    font-size: 15px;
    background-color: #fff;
} 

.place-heading {
    font-size: 15px;
    font-weight: 550;
} 

.place-time {
    margin-top: 15px;
    color: #757575;
} 

.place-desc {
    margin-top: 15px;
    line-height: 1.4;
} 

.place-buy-btn {
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;
    border: 1px solid #ccc;
} 

.place-buy-btn:hover {
    color: #000;
    background-color: #ccc;
}

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    display: none;
}

.open {
    display: flex;
}

.modal-container {
    background: #fff;
    width: 900px;
    max-width: calc(100% - 40px);
    min-height: 200px;
    position: relative;
    /* keyframes */
    animation: modalFadeIn ease 0.5s;
}

.modal-header {
    background: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}

.modal-heading-icon {
    margin-right: 16px;
}

.modal-close {
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    padding: 12px;
    cursor: pointer;
}

.modal-close:hover {
    color: #000;
    background: #ccc;
}

.modal-body {
    padding: 16px;
}

.modal-label {
    /* Tính chất block là mỗi thằng nằm 1 hàng riêng biệt */
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}

.modal-input {
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 28px;
}

#buy-tickets {
    background: #009688;
    color: #fff;
    width: 100%;
    font-size: 15px;
    text-transform: uppercase;
    padding: 14px;
    border: 1px solid #ccc;
    cursor: pointer;
}

#buy-tickets:hover {
    color: #000;
    background: #ccc;
}

.modal-footer {
    padding: 16px;
    text-align: right;
}

.modal-footer .modal-help a {
    color: #009688;
    text-decoration: none;
}

/* Tạo ra những chuyển động mượt mà */
/* Cho khung buy tickets có animation trượt xuống từ trên xuống dưới  */
@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-150px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}
